/* Global Style */
@import url(https://fonts.googleapis.com/css?family=Titillium+Web:900|Roboto:400,100);

#myQuiz {
   font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    position:relative;
    overflow:hidden;
    background: #222d32;
}

/*Example: The line bellow was:
#myQuiz h1 {...}*/
#myQuiz h1 {
    font-weight: 100;
    font-size: 2em;
    text-transform: uppercase;
    top: 25px;
    left: 36px;
}

#myQuiz .container {
    margin-bottom: 50px;
}

#myQuiz h1 span{
    display:block;
    font-weight: 900;
    font-family: 'Titillium Web', sans-serif;
    font-size: 2em;
    line-height: 65px;
}

#myQuiz h2 { font-size: 3em; margin: 0px; font-weight: 100; }

#myQuiz h3 { font-size: 2.4em; margin: 0px; font-weight: 100; }

#myQuiz p { margin: 0px 0px 14px 0px; }

/*
#myQuiz .btn {
    display: inline-block;
    cursor: pointer;
    background-color: #c04b01;
    color: #fff;
    text-decoration: none;
    padding: 5px 15px;
    border-radius:6px;
}*/

/* Quiz-progress-bar Bar = "Quiz-progress-bar" */
#myQuiz .Quiz-progress-bar {
    top: 160px;
    left: 40px;
}

#myQuiz .Quiz-progress-bar div::after {
    content: '';
    display: block;
    position: absolute;
    top: -60px;
    left: -15px;
    width: 65px;
    height: 40px;
    background: url(../images/ring.svg) no-repeat 0px 0px;
    transition: opacity 1s, top 1s;
    opacity: 0;
}

#myQuiz .Quiz-progress-bar div.on,
#myQuiz .Quiz-progress-bar div.answered { background-color: #efbe5e; }

#myQuiz .Quiz-progress-bar div.correct::after { top: -5px; opacity: 1; }

#myQuiz .Quiz-progress-bar div {
    /* NOTE: Keep position: relative - it is needed for the positioning of the injected graphic*/
    position: relative;
    display: inline-block;
    width: 30px;
    height: 30px;
    margin-right: 30px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, .2);
    transition: background-color 1s;
}

/* Intro 
#myQuiz .intro { position: absolute; top: 225px; left: 660px; width: 550px; }
#myQuiz .intro p { margin: 0px 0px 40px 0px; }*/


/* Questions 
#myQuiz .questions { width:550px; position: absolute; top: 225px; left:655px; }*/

.questions .txt { font-size: 1.6em; margin: 0px 0px 20px 0px; }

#myQuiz .questions .ans {
    display:inline-block; font-size: 1.1em;
    border: 2px solid rgba(238, 189,102, .4);
    border-radius: 6px; padding: 10px;
    position: relative;
    margin-right: 10px;
}

/* Answers */
#myQuiz .questions .ans.selected { border-color: #be4b16; }
#myQuiz .questions .ans.correct { border-color: #459a2e; }

/* Answers - Injecting icons inside the answers buttons*/
#myQuiz .questions .ans::after {
    content:'';
    display:block;
    width: 20px;
    height: 20px;
    background: no-repeat 0px 0px;
    background-size: 20px 20px;
    position: absolute;
    top: 5px;
    right: 5px;
}

/* Questions & Answers - Hover and cursor style::unasnwered questions */
#myQuiz .questions.unanswered .ans { cursor: pointer; }
#myQuiz .questions.unanswered .ans:hover { background-color: rgba(238, 289, 102, .2); }

/* Questions & Answers - Hover and cursor style::asnwered questions */
#myQuiz .questions.answered .ans { cursor: default; }



.navbar-inverse >div > p {
    padding: 0em 1.5em;
}

#myQuiz .active, 
#myQuiz .inactive { transition: left 1.5s ease-in-out; }

#myQuiz .active { left: 40px; }

/* QUESTION ANIMATION START */
.fadein.ng-hide-remove,
.fadeout.ng-hide-add {
	-webkit-transition: 400ms ease-in-out all;
	-moz-transition: 400ms ease-in-out all;
	-o-transition: 400ms ease-in-out all;
	transition: 400ms ease-in-out all;
	display: block !important;
}

.fadein.ng-hide-remove,
.fadeout.ng-hide-add.ng-hide-add-active {
	opacity: 0;
}

.fadeout.ng-hide-add,
.fadein.ng-hide-remove.ng-hide-remove-active {
	opacity: 1;
}
/* QUESTION ANIMATION END */

body {
	background-color: black;
}
