<!-- Navbar -->
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a ng-hide="currentUser" class="navbar-brand" href="#!/">Home</a>
            <a ng-show="currentUser" class="navbar-brand" href="#!/profile">Home</a>
        </div>
        <!-- NAVIGATION CONTROLELR SECTION / NAMESPACE -->
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div id="nav" ng-controller="NavigationController as nav" class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <!-- navItems CAN BE FOUND IN THE CONTROLLER SCRIPT FILE, TIED TO $scope -->
                <li>
                    <a ng-show="currentUser" ng-href="#!/profile">Hello
                    <span> {{ currentUser.firstname }}</span></a>
                </li>
                <li>
                    <a ng-show="currentUser" ng-href="#!/login" ng-click="logout">Logout</a>
                </li>
                <li>
                    <!-- Show login/register only when user is not logged -->
                    <a ng-hide="currentUser" ng-href="#!/login">Login</a>
                </li>
                <li>
                    <a ng-hide="currentUser" ng-href="#!/register">Register</a>
                </li>
            </ul>
        </div>
<!-- NOTE: Keep NG-View here so bootstrap displays properly -->
  