  <header class="main-header">

    <!-- Logo -->
    <a ng-href="#!/profile" class="logo">
      <!-- mini logo for sidebar mini 50x50 pixels -->
      <span class="logo-mini"><b>A</b>LT</span>
      <!-- logo for regular state and mobile devices -->
      <span class="logo-lg">My<b>A</b>Levels <i class="fa fa-graduation-cap" aria-hidden="true"></i> </span>
    </a>

    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top">
      <!-- Sidebar toggle button-->
      <a class="sidebar-toggle" data-toggle="offcanvas" role="button">
        <span class="sr-only">Toggle navigation</span>
      </a>
      <!-- Navbar Right Menu -->
      <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">
          <!-- Messages: style can be found in dropdown.less-->
          <li class="dropdown messages-menu">
            <a class="dropdown-toggle" data-toggle="dropdown">
              <i class="fa fa-envelope-o"></i>
              <span class="label label-success">4</span>
            </a>
            <ul class="dropdown-menu">
              <li class="header">You have 4 messages</li>
              <li>
                <!-- inner menu: contains the actual data -->
                <ul class="menu">
                  <li><!-- start message -->
                    <a>
                      <div class="pull-left">
                        <img src="3rd-party/img/user3-128x128.jpg" class="img-circle" alt="User Image">
                      </div>
                      <h4>
                        Nadia
                        <small><i class="fa fa-clock-o"></i> Yesterday</small>
                      </h4>
                      <p>...</p>
                    </a>
                  </li>
                  <!-- end message -->
                  <li>
                    <a>
                      <div class="pull-left">
                        <img src="3rd-party/img/user1-128x128.jpg" class="img-circle" alt="User Image">
                      </div>
                      <h4>
                        Alexander
                        <small><i class="fa fa-clock-o"></i> Yesterday</small>
                      </h4>
                      <p>...</p>
                    </a>
                  </li>
                  <li>
                    <a >
                      <div class="pull-left">
                        <img src="3rd-party/img/user4-128x128.jpg" class="img-circle" alt="User Image">
                      </div>
                      <h4>
                        Nora
                        <small><i class="fa fa-clock-o"></i> A Week ago</small>
                      </h4>
                      <p>...</p>
                    </a>
                  </li>
                  <li>
                    <a >
                      <div class="pull-left">
                        <img src="3rd-party/img/user7-128x128.jpg" class="img-circle" alt="User Image">
                      </div>
                      <h4>
                        Jane
                        <small><i class="fa fa-clock-o"></i> A Week ago</small>
                      </h4>
                      <p>...</p>
                    </a>
                  </li>
                  <li>
                    <a >
                      <div class="pull-left">
                        <img src="3rd-party/img/user5-128x128.jpg" class="img-circle" alt="User Image">
                      </div>
                      <h4>
                        Sarah
                        <small><i class="fa fa-clock-o"></i> 2 Weeks ago</small>
                      </h4>
                      <p>...</p>
                    </a>
                  </li>
                </ul>
              </li>
              <li class="footer"><a >See All Messages</a></li>
            </ul>
          </li>
          <!-- Notifications: style can be found in dropdown.less -->
          <li class="dropdown notifications-menu">
            <a  class="dropdown-toggle" data-toggle="dropdown">
              <i class="fa fa-bell-o"></i>
              <span class="label label-warning">10</span>
            </a>
            <ul class="dropdown-menu">
              <li class="header">You have 10 notifications</li>
              <li>
                <!-- inner menu: contains the actual data -->
                <ul class="menu">
                  <li>
                    <a >
                      <i class="fa fa-users text-aqua"></i> 5 new members joined today
                    </a>
                  </li>
                  <li>
                    <a >
                      <i class="fa fa-warning text-yellow"></i> Expected service disruption after 19:00 GMT
                    </a>
                  </li>
                  <li>
                    <a >
                      <i class="fa fa-users text-red"></i> 5 new members joined your class
                    </a>
                  </li>
                  <li>
                    <a >
                      <i class="ion ion-arrow-graph-up-right text-green"></i> 37% Montly Improvement
                    </a>
                  </li>
                  <li>
                    <a >
                      <i class="fa fa-user text-red"></i> Welcome to the platform
                    </a>
                  </li>
                </ul>
              </li>
              <li class="footer"><a >View all</a></li>
            </ul>
          </li>
          <!-- Tasks: style can be found in dropdown.less -->
          <li class="dropdown tasks-menu">
            <a  class="dropdown-toggle" data-toggle="dropdown">
              <i class="fa fa-flag-o"></i>
              <span class="label label-danger">4</span>
            </a>
            <ul class="dropdown-menu">
              <li class="header">Your most current progress</li>
              <li>
                <!-- inner menu: contains the actual data -->
                <ul class="menu">
                  <li><!-- Task item -->
                    <a >
                      <h3>
                        English Grammar Achievements
                        <small class="pull-right">11%</small>
                      </h3>
                      <div class="progress xs">
                        <div class="progress-bar progress-bar-aqua" style="width: 20%" role="progressbar" aria-valuenow="11" aria-valuemin="0" aria-valuemax="100">
                          <span class="sr-only">11% Complete</span>
                        </div>
                      </div>
                    </a>
                  </li>
                  <!-- end task item -->
                  <li><!-- Task item -->
                    <a >
                      <h3>
                        English Listening Comprehension
                        <small class="pull-right">9%</small>
                      </h3>
                      <div class="progress xs">
                        <div class="progress-bar progress-bar-red" style="width: 9%" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                          <span class="sr-only">9% Complete</span>
                        </div>
                      </div>
                    </a>
                  </li>
                  <!-- end task item -->
                  <li><!-- Task item -->
                    <a >
                      <h3>
                        English Listening Comprehension 
                        <small class="pull-right">14%</small>
                      </h3>
                      <div class="progress xs">
                        <div class="progress-bar progress-bar-green" style="width: 14%" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                          <span class="sr-only">14% Complete</span>
                        </div>
                      </div>
                    </a>
                  </li>
                  <!-- end task item -->
                  <li><!-- Task item -->
                    <a >
                      <h3>
                        English Speaking 
                        <small class="pull-right">14%</small>
                      </h3>
                      <div class="progress xs">
                        <div class="progress-bar progress-bar-yellow" style="width: 10%" role="progressbar" aria-valuenow="14" aria-valuemin="0" aria-valuemax="100">
                          <span class="sr-only">10% Complete</span>
                        </div>
                      </div>
                    </a>
                  </li>
                  <!-- end task item -->
                </ul>
              </li>
              <li class="footer">
                <a >View all tasks</a>
              </li>
            </ul>
          </li>
          <!-- User Account: style can be found in dropdown.less -->
          <li class="dropdown user user-menu">
            <a  class="dropdown-toggle" data-toggle="dropdown">
              <img src="3rd-party/img/avatar5.png" class="user-image" alt="User Image">
              <span class="hidden-xs">{{ currentUser.firstname }}</span>
            </a>
            <ul class="dropdown-menu">
              <!-- User image -->
              <li class="user-header">
                <img src="3rd-party/img/avatar5.png" class="img-circle" alt="User Image">

                <p>
                  {{ currentUser.firstname }}
                  <small> {{ currentUser.email }} </small>
                </p>
              </li>
              <!-- Menu Footer-->
              <li class="user-footer">
                <div class="pull-left">
                  <a  class="btn btn-default btn-flat">Profile</a>
                </div>
                <div class="pull-right">
                  <a  class="btn btn-default btn-flat">Sign out</a>
                </div>
              </li>
            </ul>
          </li>
          <!-- Control Sidebar Toggle Button -->
          <li>
            <a  data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
          </li>
        </ul>
      </div>

    </nav>
  </header>


 <!-- Left side column. contains the logo and sidebar -->
  <aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
      <!-- Sidebar user panel -->
      <div class="user-panel">
        <div class="pull-left image">
          <img src="3rd-party/img/avatar5.png" class="img-circle" alt="User Image">
        </div>
        <div class="pull-left info">
          <p>{{ currentUser.firstname }}</p>
          <a ><i class="fa fa-circle text-success"></i> Online</a>
        </div>
      </div>
      <!-- sidebar menu: : style can be found in sidebar.less -->
      <ul class="sidebar-menu">
        <li class="header">MAIN NAVIGATION</li>
        <li class="active treeview">
          <a>
            <i class="fa fa-dashboard"></i> <span>Test</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
            
        <!-- TEST section -->
          <ul class="treeview-menu">
            <li>
              <a ><i class="fa fa-circle-o"></i> English
                <span class="pull-right-container">
                  <i class="fa fa-angle-left pull-right"></i>
                </span>
              </a>
              <ul class="treeview-menu">
                <li><a href="#!/english-grammar-test"><i class="fa fa-circle-o"></i> Grammar</a></li>
                <li><a><i class="fa fa-circle-o"></i> Reading comprehension</a></li>
              </ul>
            </li>
          </ul> <!-- /TEST section -->
        </li>
          
      <!-- TEST HISTORY section -->
        <li class="treeview">
          <a>
            <i class="fa fa-files-o"></i>
            <span>Test history</span>
            <span class="pull-right-container">
              <span class="label label-primary pull-right">4</span>
            </span>
          </a>
        <ul class="treeview-menu">
            <li>
              <a ><i class="fa fa-circle-o"></i> English
                <span class="pull-right-container">
                  <i class="fa fa-angle-left pull-right"></i>
                </span>
              </a>
              <ul class="treeview-menu">
                <li><a href="#!/quiz"><i class="fa fa-circle-o"></i> Grammar</a></li>
                <li><a><i class="fa fa-circle-o"></i> Reading comprehension</a></li>
              </ul>
            </li>
        </ul>
      </li> <!-- /TEST HISTORY section -->
          
      <!-- IMPROVEMENT section -->
        <li class="treeview">
          <a>
            <i class="fa fa-pie-chart"></i>
            <span>Improvement</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="pages/charts/chartjs.html"><i class="fa fa-circle-o"></i> English</a></li>
            <li><a href="pages/charts/morris.html"><i class="fa fa-circle-o"></i> Physics</a></li>
            <li><a href="pages/charts/flot.html"><i class="fa fa-circle-o"></i> Flot</a></li>
            <li><a href="pages/charts/inline.html"><i class="fa fa-circle-o"></i> Inline charts</a></li>
          </ul>
        </li><!-- /IMPROVEMENT section -->

        <!-- MAILBOX section -->
        <li>
          <a href="">
            <i class="fa fa-envelope"></i> <span>Mailbox</span>
            <span class="pull-right-container">
              <small class="label pull-right bg-yellow">12</small>
              <small class="label pull-right bg-green">16</small>
              <small class="label pull-right bg-red">5</small>
            </span>
          </a>
        </li> <!-- /MAILBOX section -->
        
        <!-- DOCUMENTATION section -->
        <li>
            <a href=""><i class="fa fa-book"></i> <span>Library</span>
            </a>
        </li><!-- /DOCUMENTATION section -->
          
        <!-- FEEDBACK section -->
        <li class="treeview">
          <a href="">
            <i class="fa fa-edit"></i> <span>Feedback</span>
          </a>
        </li>
        <!-- /FEEDBACK section -->
          
        <li class="header">LABELS</li>
        <li><a ><i class="fa fa-circle-o text-red"></i> <span>Important</span></a></li>
        <li><a ><i class="fa fa-circle-o text-yellow"></i> <span>Warning</span></a></li>
        <li><a ><i class="fa fa-circle-o text-aqua"></i> <span>Information</span></a></li>
      </ul>
    </section>
    <!-- /.sidebar -->
  </aside>
