<!DOCTYPE HTML>
<html ng-app="myQuiz">
<head>

    <title>v0.8a - E-Learning Platform</title>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta charset="UTF-8">
    
    <!-- CSS Normalize -->
    <link rel="stylesheet" type="text/css" href="css/lib/CSSnormalize.css">
    <!-- Core CSS libraries -->
    <link rel="stylesheet" type="text/css" href="css/lib/external/bootstrap.min.css">
    <!-- FIX: IT OVERWRITES THE QUIZ! Core stylesheet -->
    <!-- <link rel="stylesheet" type="text/css" href="css/stylesheet.css"> -->
    <!-- Quiz Stylesheet -->
    <link rel="stylesheet" type="text/css" href="css/game.css">
    <link rel="stylesheet" type="text/css" href="css/loginform.css">
    
      <!-- Font Awesome -->
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
      <!-- Ionicons -->
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
      <!-- jvectormap -->
      <link rel="stylesheet" href="3rd-party/plugins/jvectormap/jquery-jvectormap-1.2.2.css">
      <!-- Theme style -->
      <link rel="stylesheet" href="3rd-party/css/AdminLTE.css">
      <!-- AdminLTE Skins. Choose a skin from the css/skins
           folder instead of downloading all of them to reduce the load. -->
      <link rel="stylesheet" href="3rd-party/css/skins/skin-green.css">
    
	<!-- Angular declaration-->
    <script type="text/javascript" src="js/lib/jQuery/jquery-3.1.1.min.js"></script>
    <script type="text/javascript" src="js/lib/angular/angular.min.js"></script>
    <script type="text/javascript" src="js/lib/angular/angular-route.js"></script>
    <script type="text/javascript" src="js/lib/angular/angular-animate.js"></script>
    <script type="text/javascript" src="js/lib/angular/angular-route.min.js"></script>
    <script type="text/javascript" src="js/app.js"></script>
    <script type="text/javascript" src="js/lib/angular/angular-animate.js"></script>
    <script type="text/javascript" src="js/lib/angular/angular-animate.min.js"></script>
	
	<!-- Firebase Initiation -->
	<script src="https://www.gstatic.com/firebasejs/3.7.6/firebase.js"></script>
	
	<script>
		
	  // Initialize Firebase
	  var config = {
		apiKey: "AIzaSyAoSH5YDnGcguua3UnCf-0J5-3nEgib6EY",
		authDomain: "mobiletech-5dd3d.firebaseapp.com",
		databaseURL: "https://mobiletech-5dd3d.firebaseio.com",
		projectId: "mobiletech-5dd3d",
		storageBucket: "mobiletech-5dd3d.appspot.com",
		messagingSenderId: "702846004470"
	  };
	  firebase.initializeApp(config);
	</script>
	
	<!-- AngularFire API -->
	<script src="https://cdn.firebase.com/libs/angularfire/2.3.0/angularfire.min.js"></script>
	
</head>

<body>
    <div class="site-wrapper">
        <div class="site-wrapper-inner">
            <div class="cover-container">
                
                <div id="view" ng-view>
                    {{2+2}}
                </div>
            </div>
            <!-- /.cover-container -->
        </div>
        <!-- /.site-wrapper-inner -->
    </div>
    <!-- /.site-wrapper -->
</body>
    
    <!-- Custom controllers -->
    <script type="text/javascript" src="js/controllers/navigation.js"></script>
	<script type="text/javascript" src="js/controllers/login.js"></script>
	<script type="text/javascript" src="js/controllers/registration.js"></script>
	<script type="text/javascript" src="js/controllers/success.js"></script>
	<script type="text/javascript" src="js/services/Authentication.js"></script>
    <script type="text/javascript" src="js/controllers/english-grammar-controller.js"></script>
</html>