<!-- navigation -->
<div ng-include="'views/navigation/profile-navigation.html'"></div>

<!-- FIX LAYOUT SO THAT IT ACCOMODATES FOR LANDSCAPE MODE-->
<div id="myQuiz">
<div class="content-wrapper">
<div class="container">
<div class="box">
<div class="box-header with-border">
<div class="row">
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
<h2 class="box-title">English Grammar</h2>
</div>
</div>
</div>
<!-- /box-header -->

<!-- box-body -->
<div class="box-body">

<div class="row">
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
<div class="questions
			{{ randomTest.questionState === 'answered' ? 'answered' : 'unanswered' }}" ng-repeat="question in randomTest">
	<p class="txt">
		{{ question.question }}
	</p>
	<div>
		<div class="row">
			<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
				<p class="ans col-xs-12 col-md-5 col-lg-5 text-center" ng-class="{selected:isSelected($parent.$index, $index),
							 correct:isCorrect($parent.$index, $index)}" ng-click="selectAnswer($parent.$index, $index)" ng-repeat="Answer in randomTest[$index].answers">
					{{ Answer.text }}
				</p>
			</div>
			<!-- FIXME: Include question feedback! -->
			<!-- Feedback -->

			<div class="feedback col-xs-12 col-sm-5 col-md-5 col-lg-5">
				<div class="box box-correct" ng-show=" question.correctness === 'correct' ">
					<div class="box-header with-border">
						<p class="box-title">You are right!</p>
					</div>
					<div class="box-body">
						<p> {{ question.feedback }} </p>
					</div>
				</div>

				<div class="box box-incorrect" ng-show=" question.correctness === 'incorrect' ">
					<div class="box-header with-border">
						<p class="box-title">That is not quite correct!</p>
					</div>
					<div class="box-body">
						<p> {{ question.feedback }} </p>
					</div>
				</div>
			</div>

			<!-- /Feedback -->
		</div>
	</div>
</div>
<!-- end of "questions" -->
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 align-left">
			<a class="col-xs-12 col-sm-12 col-md-5 col-lg-5 btn" ng-click="buttonClick()">More Questions</a>
</div>
</div>
</div>
</div>
<!-- /box-body -->
</div>
</div>
<!-- end of "Questions row" -->

<!-- Footer -->
<!-- FIXME: Remove inline-style into .css file -->
<footer class="main-footer" id="random-test" style="margin-left: auto;">
<div class="pull-right hidden-xs">
<b>Version</b> 0.8b
</div>
<strong>1309759.</strong> Improving education by introducing Gamification
</footer>
<!-- /Footer -->
</div>
<!-- end of container -->
</div>