<!-- Include Navbar -->
<nav class="navbar navbar-inverse navbar-toggleable" role="navigation">
    <div class="container-fluid" ng-include src="'views/navigation/landing-navbar.html'"></div>
</nav>
<!-- End o f Navbar -->
                

<section class="intro">
<row>
  <div class="col-lg-6 col-sm-12 left">
	  <row>
		  <div class="col-md-4 col-xs-4">
			  <h1 class="cover-heading">Kristiyan - Quiz</h1>
		  </div>

		  <div class="col-lg-4 col-md-4">
			<p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
			<!-- FIXME: Do not hard-code the next page -->
		  </div>
	  
	  <div class="col-lg-4 col-md-4">
			<p class="lead">
				<!-- Will move the user to the quiz -->
				<a href="#!/login" class="btn btn-lg">Play the Quiz!</a>
	</p>
		  </div>
	  </row>
  </div>
  <div class="col-lg-6 col-sm-12 right">
	  <!-- particles.js container -->
			<div id="particles-js"></div>
  </div>
</row>
	
</section>

<style>
html{
height:100%
}
body{
  height:100%;
}
.intro{
  height:100%
}

.left{
  display : flex;
  justify-content : center;
  align-items : center;
  background-color:#3d231b;
  height : 100%;
  color : #FFF;

}
	
	/*
.right{
  display : flex;
  justify-content : center;
  align-items : center;
  height : 100%;

}

</style>
	
<!-- scripts -->
<script src="../3rd-party/plugins/particlesJS/particles.js-master/particles.js"></script>
<script src="../3rd-party/plugins/particlesJS/particles.js-master/particles-config.js"></script>

<!-- stats.js -->
<script src="../3rd-party/plugins/particlesJS/particles.js-master/stats.js"></script>