<!-- Include Navbar -->
<nav class="navbar navbar-inverse navbar-toggleable" role="navigation">
    <div class="container-fluid" ng-include src="'views/navigation/landing-navbar.html'"></div>
</nav>
<!-- End o f Navbar -->

<div class="hold-transition login-page">
<div class="login-box">
  <div class="login-logo">
      <a href="#!/">My<b>A</b>Level</a>
  </div>
  <!-- /.login-logo -->
  <div class="login-box-body">
    <p class="login-box-msg">Sign in to start your session</p>

    <form role="form" name="myform" ng-submit="login()" novalidate>
        
      <div class="form-group has-feedback">
        
        <p>Please Log-in to access the system!</p>
        <p class="message" ng-show="message" style="color: red"> {{ message }}</p>
          
        <input class="form-control" type="email" name="email" placeholder="Email" ng-model="user.email" ng-required="true">
        <p class="error validationerror" ng-show="myform.email.$invalid && myform.email.$touched">Must be a valid email</p>
        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
      </div>
        
      <div class="form-group has-feedback">
        <input type="password" name="password" class="form-control" placeholder="Password" ng-model="user.password" ng-required="true">
          <p class="error validationerror" ng-show="myform.password.$invalid && myform.email.$touched">Password is required</p>
        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
      </div>
        
      <div class="row">
        <div class="col-xs-4 col-xs-offset-8">
          <button type="submit" class="btn btn-primary btn-block btn-flat" ng-disabled="myform.$invalid">Login</button>
        </div>
        <!-- /.col -->
      </div>
    </form>

    <a ng-href="#!/register" class="text-center">Register a new membership</a>

  </div>
  <!-- /.login-box-body -->
</div>
<!-- /.login-box -->
    
<!-- iCheck -->
<script src="3rd-party/plugins/iCheck/icheck.min.js"></script>
<script>
  $(function () {
    $('input').iCheck({
      checkboxClass: 'icheckbox_square-blue',
      radioClass: 'iradio_square-blue',
      increaseArea: '20%' // optional
    });
  });
</script>
<style>
    body
    {
    background: url(3rd-party/img/notes-macbook-study-conference_web.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    }

    p { color: gray; }
    .login-logo a { color:white; }

</style>
</div>