<!-- Include Navbar -->
<nav class="navbar navbar-inverse navbar-toggleable" role="navigation">
    <div class="container-fluid" ng-include src="'views/navigation/landing-navbar.html'"></div>
</nav>
<!-- End o f Navbar -->

<div class="hold-transition register-page">
<div class="register-box">
  <div class="register-logo">
    <a href="#!/">My<b>A</b>Level</a>
  </div>

  <div class="register-box-body">
    <p class="login-box-msg">Register a new membership</p>

    <form role="form" name="myform" ng-submit="register()" novalidate>
      <div class="form-group has-feedback">
        <p class="message" ng-show="message">{{ message }}</p>
        <input type="text" class="form-control" name="firstname" placeholder="Full name" ng-model="user.firstname" ng-required="true">
        <p class="error validationerror" ng-show="myform.firstname.$invalid && myform.firstname.$touched">First name required</p>
        <span class="glyphicon glyphicon-user form-control-feedback"></span>
      </div>
        
      <div class="form-group has-feedback">
        <input type="text" name="lastname" class="form-control" placeholder="Last Name" ng-model="user.lastname" ng-required="true">
        <p class="error validationerror" ng-show="myform.lastname.$invalid && myform.lastname.$touched">Last name required</p>
        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
      </div>
      <div class="form-group has-feedback">
        <input type="email" class="form-control" name="email" placeholder="Email" ng-model="user.email" ng-required="true">
        <p class="error validationerror" ng-show="myform.email.$invalid && myform.email.$touched">Must be a valid email</p>
      </div>
        
      <div class="form-group has-feedback">
        <input type="password" name="password" class="form-control" placeholder="Password" ng-model="user.password" ng-required="true">
        <p class="error validationerror" ng-show="myform.password.$invalid && myform.email.$touched">Password is required</p>
        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
      </div>
        
      <div class="row">
        <div class="col-xs-4 col-xs-offset-8">
          <button type="submit" class="btn btn-primary btn-block btn-flat">Register</button>
        </div>
        <!-- /.col -->
      </div>
    </form>
    <a ng-href="#!/login" class="text-center">I already have a membership</a>
  </div>
  <!-- /.form-box -->
</div>
<!-- /.register-box -->


<!-- iCheck -->
<script src="/3rd-party/plugins/iCheck/icheck.min.js"></script>
<script>
  $(function () {
    $('input').iCheck({
      checkboxClass: 'icheckbox_square-blue',
      radioClass: 'iradio_square-blue',
      increaseArea: '20%' // optional
    });
  });
</script>
<style>
    body
    {
    background: url(3rd-party/img/writing-notes-idea-conference_web.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    }

    p { color: gray; }
    .register-logo a { color:white; }

</style>
</div>